@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
    {
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    
       
        <script type="text/javascript">
        var connection = new signalR.HubConnectionBuilder().withUrl("http://localhost:5200/VisitorHub").build();

    // Bağlantı durumunu güncellemek için bir fonksiyon tanımlayın
    function updateConnectionStatus(status) {
        $("#connectionStatus").text(status);
    }

    // Bağlantıyı başlatın ve bağlantı durumunu güncelleyin
    connection.start().then(() => {
        updateConnectionStatus("Connected");
    }).catch((err) => {
        console.log(err);
        updateConnectionStatus("Disconnected");
    });

    // Bağlantı durumu değişikliklerini manuel olarak izleyin
    connection.onclose(() => {
        updateConnectionStatus("Connection Closed");
    });
    </script>
}
<div class="container">
    <br />
    <div class="alert alert-warning">
        Bağlantınızın Durumu:<b id="connectionStatus"></b>
    </div>
</div>